@{
    ViewData["Title"] = "我的账号";
}
@model WBPlatform.TableObject.UserObject;
<div class="container">
    <div class="container">
        <div class="col-lg-1 col-sm-2 col-xs-4 col-lg-offset-0"><img id="UserHImg" src="#" width="64" height="64" alt="" /></div>
        <div class="col-lg-offset-0 col-lg-3">
            <h4 id="UserID">加载中...</h4>
            <h5 id="BusDirection">查看我的用户信息</h5>
        </div>
    </div>
    <hr />
    <div class="container">
        <label>用户名：</label>@Model.UserName<br />
        <label>用户ID：</label>@Model.objectId<br />
        <label>真实姓名：</label>@Model.RealName<br />
        <label>性别：</label>@(Model.Sex == "M" ? "男" : "女")<br />
        <label>手机号码：</label>@Model.PhoneNumber<br />
        <label>已经设置密码：</label>@(string.IsNullOrEmpty(Model.Password) ? "否❌" : "是✔")<br />
        <button class="btn btn-default btn-sm">修改或添加密码</button> <br /><br />
        <label>用户权限分配：</label>
        <div class="container">
            <label>家长：</label>@(Model.UserGroup.IsParent ? "是✔" : "否❌")<br />
            <label>校车老师：</label>@(Model.UserGroup.IsBusManager ? "是✔" : "否❌")<br />
            <label>班主任：</label>@(Model.UserGroup.IsClassTeacher ? "是✔" : "否❌")<br />
            <label>系统管理员：</label>@(Model.UserGroup.IsAdmin ? "是✔" : "否❌")<br />
        </div>
    </div>
    <hr />
    <div id="techInfo" class="container">
        <label id="techBtnlabel">其他：</label>
        <button class="btn btn-warning btn-sm" onClick="location.href = '/Account/RequestChange'">申请修改用户数据</button>
        <button id="showTechinfoBtn" class="btn btn-info btn-sm" onclick="showTechinfo();">显示技术信息</button>
        <button id="hideTechinfoBtn" class="btn btn-info btn-sm hidden" onclick="hideTechinfo();">隐藏技术信息</button>
        <div id="innerTechInfo" class="hidden">
            <br />
            <label>技术信息: </label><br />
            <label>UGIdentifier：</label>@Model.UserGroup.ToString()<br />
            <label>ChildList：</label>@Model.GetChildIdString(';')<br />
            <label>ClassList：</label>@Model.GetClassIdString(';')<br />
            <label>CreationTime：</label>@Model.createdAt<br />
            <label>ModifiedTime：</label>@Model.updatedAt<br />
        </div>
        @if (Model.UserGroup.IsAdmin)
        {
            <br /> <br />
            <label>管理员选项: </label>
            <button id="enterManageZone" class="btn btn-danger btn-sm" onclick="location.href = '/Manage/'">进入管理后台</button>
        }
    </div>
</div>
<script>
    {
        var CurrentUser = JSON.parse(decodeURI("@Uri.EscapeUriString((string)ViewData["cUser"])"));

        $("#UserID").text("你好，" + CurrentUser.RealName);
        $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + CurrentUser.HeadImagePath);
        function showTechinfo() {
            $("#innerTechInfo").removeClass("hidden");
            $("#showTechinfoBtn").addClass("hidden");
            $("#hideTechinfoBtn").removeClass("hidden");
        }
        function hideTechinfo() {
            $("#innerTechInfo").addClass("hidden");
            $("#showTechinfoBtn").removeClass("hidden");
            $("#hideTechinfoBtn").addClass("hidden");
        }
    }
</script>
