@using WBPlatform.TableObject;
@model WBPlatform.WebManagement.Tools.ViewStudentInfo;
@{
    ViewData["Title"] = "学生信息";
}
<style type="text/css">
    table.tftable {
        font-size: 12px;
        color: #333333;
        width: 100%;
        border-width: 1px;
        border-color: #729ea5;
        border-collapse: collapse;
    }

        table.tftable th {
            font-size: 12px;
            background-color: #acc8cc;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #729ea5;
            text-align: left;
        }

        table.tftable tr {
            background-color: #ffffff;
        }

        table.tftable td {
            font-size: 12px;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #729ea5;
        }
</style>

<div class="container">
    <h4>查看学生信息</h4>
    <div class="container">
        <label>学生基本信息</label>
        <table id="tfhover1" class="tftable" border="1">
            <tr><th>名称</th><th>值</th></tr>
            <tr><td>姓名</td><td>@Model._student.StudentName</td></tr>
            <tr><td>性别</td><td>@(Model._student.Sex == "F" ? "女" : "男")</td></tr>
            <tr><td>离校确认</td><td>@(Model._student.LSChecked ? "√  已签到" : "×  未签到")</td></tr>
            <tr><td>返校确认</td><td>@(Model._student.CSChecked ? "√  已签到" : "×  未签到")</td></tr>
            <tr><td>到家确认</td><td>@(Model._student.AHChecked ? "√  已确认" : "×  未确认")</td></tr>

        </table>
        <br />
        <label>班级信息</label>
        <table id="tfhover2" class="tftable" border="1">
            @if (Model.ClassFound)
            {
                <tr><th>名称</th><th>值</th></tr>
                <tr><td>学部</td><td>@Model._class.CDepartment</td></tr>
                <tr><td>班级</td><td>@Model._class.CGrade@Model._class.CNumber</td></tr>
                @if (Model.ClassTeacherFound)
                {
                    <tr><td>班主任</td><td>@Model._CTeacher.RealName</td></tr>
                    <tr><td>班主任联系方式</td><td><a href="tel://@Model._CTeacher.PhoneNumber">@Model._CTeacher.PhoneNumber</a></td></tr>
                }
                else
                {
                    <tr><td colspan="2">找不到当前班级的班主任！</td></tr>
                }
            }
            else
            {
                <tr><td colspan="2">找不到学生的班级信息！</td></tr>
            }
        </table>
        <br />
        <label>校车信息</label>
        <table id="tfhover3" class="tftable" border="1">
            @if (Model.BusFound && Model.BusTeacherFound)
            {
                <tr><th>名称</th><th>值</th></tr>
                <tr><td>校车方向</td><td>@(Model._schoolbus.BusName)</td></tr>
                <tr><td>校车老师</td><td>@(Model._BTeacher.RealName)</td></tr>
                <tr><td>联系方式</td><td><a href="tel://@Model._BTeacher.PhoneNumber">@Model._BTeacher.PhoneNumber</a></td></tr>
            }
            else
            {
                <tr><td colspan="2">找不到学生乘坐的校车！</td></tr>
            }
        </table>
        <br />
        <label>家长信息</label>
        <table id="tfhover4" class="tftable" border="1">
            @if (Model.ParentsCount > 0)
            {
                <tr><th>名称</th><th>值</th></tr>
                @for (int i = 0; i < Model.ParentsCount; i++)
                {
                    <tr><td>@(Model._Parents[i].Sex == "M" ? "父亲" : "母亲")姓名</td><td>@Model._Parents[i].RealName</td></tr>
                    <tr><td>@(Model._Parents[i].Sex == "M" ? "父亲" : "母亲")联系方式</td><td><a href="tel://@Model._Parents[i].PhoneNumber">@Model._Parents[i].PhoneNumber</a></td></tr>
                }
            }
            else
            {
                <tr><td colspan="2">找不到家长信息！</td></tr>
            }
        </table>
    </div>
    <hr />
    <div class="container text-center">
        <button onclick="window.history.back(1);" class="btn btn-success" style="width: 61.8%">返回上一页</button>
    </div>
</div>
