<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div class="container body-content">
        @RenderBody()
        <h5>
            Request time: @DateTime.Now.ToLongDateString() - @DateTime.Now.ToLongTimeString()
        </h5>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WoodenBench for Schoolbus WebAPI Services</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
