@model WBPlatform.TableObject.UserChangeRequest

@{
    ViewData["Title"] = "工单查询";
    bool isManage = (string)ViewData["mode"] == "manage";
    bool isListView = (Model == null);
    WBPlatform.TableObject.UserChangeRequest[] requests = isListView ? (WBPlatform.TableObject.UserChangeRequest[])ViewData["list"] : null;
}
<div class="container">
    <div class="container">
        @if (isManage && isListView)
        {<h3>工单列表</h3>}
        else if (isManage && !isListView)
        { <h3>工单审核</h3>}
        else if (!isManage && isListView)
        {<h3>我的工单列表</h3>}
        else if (!isManage && !isListView)
        {
            <h3>我的工单 </h3>
            <h5>工单ID: @Model.objectId</h5>
        }
        <hr />
        <div>
            @if (isListView)
            {
                <div class="row">
                    <div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">提交时间</div>
                    <div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">类型</div>
                    <div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">已审核</div>
                    <div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">查看</div>
                </div>
                <br />
                @foreach (var item in requests)
                {
                    <div class="row">
                        <div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">
                            <p>@item.createdAt.Replace("-", "")</p>
                        </div>
                        <div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">
                            <p>@item.RequestTypes.ToString()</p>
                        </div>
                        <div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">
                            <p>@(item.HasProcessed ? "是✔" : "否❌")</p>
                        </div>
                        <div class="col-sm-3 col-lg-3 col-xs-3 col-md-3">
                            <a href="/Manage/ChangeRequest?arg=@(isManage?"manage":"my")&reqId=@item.objectId">查看🔍</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div id="singleView" class="container">
                    <label>工单提交时间：</label>
                    <div class="container">@Model.createdAt</div>
                    <label>修改类型：</label>
                    <div class="container">@Model.RequestTypes.ToString()</div>
                    <label>新内容：</label>
                    <div class="container">@Model.NewContent</div>
                    <label>申请理由：</label>
                    <div class="container">&nbsp;@Model.DetailTexts</div>
                    <label>提交者ID：</label>
                    <div id="userID" class="container">
                        @Model.UserID
                        <button class="btn btn-sm btn-default" onclick="GetName('@Model.UserID', 'userID' ,getName_Callback)">查看</button>
                    </div>
                    <label>处理状态：</label>
                    <div class="container">@(Model.HasProcessed ? "已处理✔" : "未处理❌")</div>
                    @if (Model.HasProcessed)
                    {
                        <label>处理者ID：</label>
                        <div id="solveID" class="container">
                            @(string.IsNullOrEmpty(Model.SolverID) ? "未处理" : Model.SolverID)
                            <button class="btn btn-sm btn-default" onclick="GetName('@Model.SolverID', 'solveID' ,getName_Callback)">查看</button>
                        </div>
                    }
                </div>
            }
        </div>
        <hr />
        <!--BOTTOM THINGS....-->
        <div class="container">
            @if (isManage)
            {
                //Manage
                if (isListView)
                {
                    //Manage_List
                    <button class="btn btn-info btn-sm" style="width: 100%" onclick="location.href = '/Manage/'">返回管理页面</button>
                    <br />
                }
                else
                {
                    //Manage_ViewDetail
                    if (!Model.HasProcessed)
                    {
                        <div class="center-margin center-all">
                            <button class="btn btn-success btn-sm" style="width: 49%" onclick="doCommitIt();">同意更改</button>
                            <button class="btn btn-danger btn-sm" style="width: 49%" onclick="resetForm();">拒绝更改</button>
                        </div>
                        <div id="refuseReasons" class="container center-all center-margin">
                            <input type="text" class="TxBox" id="reason" />
                            <button class="btn btn-warning btn-sm">提交</button>
                        </div>
                        <br />
                    }
                }
            }
            else
            {
                if (isListView)
                {
                    <button class="btn btn-info btn-sm" style="width: 100%" onclick="location.href = '/Account/'">返回我的信息</button>
                    <br />
                }
            }

            @if (!isListView)
            {
                <button class="btn btn-info btn-sm" style="width:100%" onclick="location.href = '/Manage/ChangeRequest?arg=@(isManage? "manage" : "my")'">返回列表</button>
                <br />
            }
        </div>
    </div>
</div>
<script>
    function getName_Callback(HTMLNode, data) {
        if (data.ErrCode == "0") {
            $("#" + HTMLNode).html(data.Value);
        }
    }
</script>
@if (isManage && !isListView)
{
    <script>
        function doCommitIt() {

        }
        function resetForm() {

        }
    </script>
}
