@using WBPlatform.TableObject;
@model UserObject

@{
    ViewData["Title"] = "工单查询";
    bool isQuery = (Model == null);
    UserObject[] users = isQuery ? (UserObject[])ViewData["list"] : null;
}
<div class="container">
    @if (isQuery)
    {
        <h3>用户查询</h3>
        <h5>查询和更改用户信息</h5>
    }
    else if (ViewData["registerMsg"] == null)
    {
        <h3>用户查看和编辑</h3>
        <h5>用户ID: @Model.ObjectId</h5>
    }
    else
    {
        <h3>注册信息审核</h3>
        <h5>用户ID: @Model.ObjectId</h5>
        <br />
        <h5>用户备注：</h5> <p class="text-danger">@ViewData["registerMsg"]</p>
    }
    <hr />
    <div>
        @if (isQuery)
        {
            <div id="queryOptions" class="container">
                <label>筛选条件</label>
                <br />
                <div class="row text-center">
                    <div class="col">项</div>
                    <div class="col">判断符</div>
                    <div class="col">值</div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="TxBox" id="column" style="width: 100%" />
                    </div>
                    <div class="col">
                        <select id="operand" class="TxBox" style="width: 100%">
                            <option>==</option>
                            <option>contains</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="text" class="TxBox" id="value" style="width: 100%" />
                    </div>
                </div>
                <br />
                <button class="btn btn-success btn-sm" onclick="doQuery();" style="width:100%">筛选🔍</button>
            </div>
            <div id="listViewContainer" class="container ">
                <hr />
                <label>查询结果</label>
                <div class="row">
                    <div class="col">姓名</div>
                    <div class="col">性别</div>
                    <div class="col">UID</div>
                    <div class="col">查看</div>
                </div>
                <br />
                <div id="listView" style="font-size: small">

                </div>
            </div>
        }
        else
        {
            <div id="singleView" class="container">
                <!--Single User Edit or View-->
                <label>用户ID</label>
                <input asp-for="ObjectId" class="TxBox" disabled readonly />
                <br />
                <label>用户名（微信号）</label>
                <input asp-for="UserName" class="TxBox" disabled readonly />
                <br />
                <label>姓名</label>
                <input asp-for="RealName" class="TxBox" disabled readonly />
                <br />
                <label>性别</label>
                <input asp-for="Sex" class="TxBox" disabled readonly />
                <br />
                <label>手机号码</label>
                <input asp-for="PhoneNumber" class="TxBox" disabled readonly />
                <hr />
                <label for="userGroups">用户组</label>
                <div id="userGroups" class="container">
                    <label>管理员</label>
                    <input asp-for="UserGroup.IsAdmin" class="checkbox-inline" disabled readonly />
                    <br />
                    <label>班主任</label>
                    <input asp-for="UserGroup.IsClassTeacher" class="checkbox-inline" disabled readonly />
                    <br />
                    <label>校车老师</label>
                    <input asp-for="UserGroup.IsBusManager" class="checkbox-inline" disabled readonly />
                    <br />
                    <label>家长</label>
                    <input asp-for="UserGroup.IsParent" class="checkbox-inline" disabled readonly />
                    <br />
                </div>
                <hr />
                <label for="adv_Area">高级选项</label>
                <div id="adv_Area" class="container">
                    <label>班级ID</label>
                    <input asp-for="ClassList" class="TxBox checkbox-inline" disabled readonly value="@Model.GetClassIdString(";")" />
                    <br />
                    <label>子女ID</label>
                    <input asp-for="ClassList" class="TxBox checkbox-inline" disabled readonly value="@Model.GetChildIdString(";")" />
                    <br />
                </div>
            </div>
        }
    </div>
    <hr />
    <!--BOTTOM THINGS....-->
    <div class="container">
        @if (isQuery)
        {
            //Manage_List
            <button class="btn btn-info btn-sm" style="width: 100%" onclick="location.href = '/Manage/'">返回管理页面</button>
            <br />
            <script>
                function QueryAllUsers(column, operand, value, GetCallback) {
                    "use strict";
                    console.log(column);
                    console.log(operand);
                    console.log(value);
                    $.ajax({
                        url: location.protocol + "//" + location.host + "/api/admin/QueryUsers?" +
                            "columnName=" + encodeURIComponent(column) +
                            "&operand=" + encodeURIComponent(operand) +
                            "&value=" + encodeURIComponent(value),
                        type: 'GET',
                        success: function (data) { GetCallback(data); },
                        error: function (err) { GetCallback(false); }
                    });
                }
                function GetUserCallBack(data) {
                    console.log(data);
                    $("#listView").empty();
                    $("#listViewContainer").removeAttr("hidden");
                    for (var i = 0; i < data.count; i++) {
                        var TMP = JSON.parse(eval("data.num_" + i));
                        var fff =
                            "<div id='" + TMP.userID + "' class=\"row\">" +
                            "<div class=\"col\">" + TMP.RealName + "</div>" +
                            "<div class=\"col\">" + TMP.Sex + "</div>" +
                            "<div class=\"col\">" + TMP.userID + "</div>" +
                            "<div class=\"col\"><a href='/Manage/UserManage?mode=edit&uid=" + TMP.userID + "'>查看🔍</a></div>";
                        $("#listView").append(fff);
                    }
                }
                function doQuery() {
                    console.log("doQuery....");
                    QueryAllUsers($("#column").val(), $("#operand").val(), $("#value").val(), GetUserCallBack);
                }
            </script>
        }
        else
        {
            <script>
                function touch(event) {
                    var event = event || window.event;
                    //console.log(event);
                    var name = event.path[0].name;
                    var id = event.path[0].id
                    if (name != undefined && id != undefined) {
                        $(event.path[0]).removeAttr("disabled");
                        $(event.path[0]).removeAttr("readonly");
                        if (changeList.toString().indexOf(id) == -1) {
                            changeList[changeList.length] = id;
                        } else {
                            console.log("changeList already Conatins " + id);
                        }
                    } else {
                        console.log("Not clicked on an Valid Input area...");
                    }
                }
                document.addEventListener('touchend', touch, false);
            </script>
            <div id="options" class="center-margin center-all">
                <button class="btn btn-success btn-sm" style="width: 49%" onclick="accepted();">提交</button>
                <button class="btn btn-danger btn-sm" style="width: 49%" onclick="cancel()">取消</button>
            </div>
            <br />
            <button class="btn btn-info btn-sm" style="width:100%" onclick="location.href = '/Manage/UserManage?mode=query'">返回列表</button>
            <br />
            <script>
                var changeList = [];
                function accepted() {

                }
                function cancel() { location.href = location.href; }
            </script>
        }
    </div>
</div>