@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using WBPlatform.WebManagement.Controllers;
<!DOCTYPE public html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]-小板凳校车管理平台</title>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/CryptoJS/core.js"></script>
    <script src="~/js/bmob.js"></script>
    <script src="~/js/CryptoJS/index.js"></script>
    <script src="~/js/CryptoJS/crypto-js.js"></script>
    <script src="~/SchBMgr_js/WeiXinModule.js"></script>
    <script src="~/SchBMgr_js/UserActivity.js"></script>
    <script src="~/js/Encryption/Base64.js"></script>
    <script src="~/js/Encryption/MD5.js"></script>
    <script src="~/js/Encryption/SHAHash.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/SchBMgr_js/WCServicesProvider.js"></script>
    <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({ instrumentationKey: "2b23ce60-3a9d-4d39-aa8b-f6b38100581f" });
        appInsights.setAuthenticatedUserContext(getCookie("identifiedUID"));
        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/WBWeb.css" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="BodyStyle">
    <nav class="navbar navbar-default" id="Headernav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" id="navBar01_btn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar01" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a id="PgTitleBar" asp-controller="@((string)ViewData["where"])" asp-action="Index" class="navbar-brand">@((string)ViewData["where"] == "Home" ? "🏠主页" : "🏠回主页")</a>
            </div>
            <div class="navbar-collapse collapse" id="navBar01">
                <ul class="nav navbar-nav">
                    <li id="home"><a asp-controller="@HomeController.ControllerName" asp-action="@nameof(HomeController.Index)">主页</a></li>
                    <li id="busmgr"><a asp-controller="@BusManagerController.ControllerName" asp-action="Index">校车管理</a></li>
                    <li id="classmgr"><a asp-controller="@ClassManagerController.ControllerName" asp-action="Index">班级管理</a></li>
                    <li id="mychild"><a asp-controller="@MyChildController.ControllerName" asp-action="Index">我的孩子</a></li>
                    <li id="usermgr"><a asp-controller="@AccountController.ControllerName" asp-action="Index">我的账户</a></li>
                    <li id="bugreport"><a asp-controller="@HomeController.ControllerName" asp-action="@nameof(HomeController.ReportBugs)">反馈Bug</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderSection("Scripts", required: false)
    @RenderBody()
    <div id="otherOptions" class="container">
        <br />
        <br />
        <h5 class="container">你还可以：</h5>
        <div class="center-all">
            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button class="btn btn-default center-all" style="width: 100%" onClick="location.href = '/Home/ReportBugs';">汇报问题</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button class="btn btn-default btn-md center-all" style="width: 100%" onClick="location.href = '/';">返回主菜单</button>
            </div>
        </div>
    </div>
    <div class="xnav" id="xnav" style="font-size: 11px;" onclick="fx();"></div>
    <script>
        var a = 'Woodenbench for Schoolbus 2018 ~ 2020';
        var b = 'Copyright Leroy.H.Y 2018 ~ 2020';
        var c = 'Core Version: @WBPlatform.StaticClasses.WBConsts.CurrentCoreVersion';
        var d = 'Web Management Module Version: @WBPlatform.WebManagement.Program.Version';
        var e = 'Request Time: @DateTime.Now.ToString()';
        var z = "a";
        function fx()
        {
            $("#xnav").text(eval(z));
            if (z === "a") { z = "b"; }
            else if (z === "b") z = "c";
            else if (z === "c") z = "d";
            else if (z === "d") z = "e";
            else if (z === "e") z = "a";
            else z = "a";
        }
    </script>
    <script id="_Remove">
        $("#@ViewData["where"]").addClass("active");
        $("#_Remove").remove();
        fx();
    </script>
</body>
</html>
