@model WBServicePlatform.WebManagement.Models.ErrorViewModel
@{

    ViewData["Title"] = "出错啦";
}
@using Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http;
@using Microsoft.AspNetCore.Http;
@{
    string RAWRequest = Model.Responce.HttpContext.Request.Scheme + "://";
    RAWRequest = RAWRequest + Model.Responce.HttpContext.Request.Host;
    RAWRequest = RAWRequest + ((Frame)((DefaultHttpContext)Model.Responce.HttpContext).Features).RawTarget;
}
<script id="removeme">
    $("#Headernav").remove();
    $("#removeme").remove();
</script>

<div class="container">
    @if (Model.Responce.StatusCode == 404)
    {
        <h3>哎 →_→</h3>
        <h4>你遇到了一个404</h4>
    }
    else
    {
        <h3>啊！！！</h3>
        <h4>你找到了一个Bug🐷</h4>
    }
    <h5>以下是详细内容：</h5>
    <div class=" container">
        <h5 class="text-danger">@(Model.MainTitle)</h5>
        <h5 class="text-danger">@(Model.MinorDescription)</h5>
        @if (Model.Responce.StatusCode == 404)
        {
            <strong> 请求URL:</strong>
            <br />
            <textarea readonly inputmode="url" rows="5" style="overflow: scroll; scrollbar-base-color:black; width:100%">@RAWRequest</textarea>
        }
        <br />
        @if (Model.Responce.StatusCode != 404)
        {
            <strong>请求 ID:</strong>
            <br />
            <code>@Model.RequestId</code>
            <br />
            <strong>请求时间:</strong>
            <br />
            <code>@DateTime.Now.TimeOfDay.ToString()</code>
            <br />
            <strong>其他可供参考的信息：</strong>
            <br />
            <code>@(Model.OtherInfo ?? ViewData["errmsg"])</code>
        }
    </div>
    <br />
    <hr />
    <h4>我该怎么办？？</h4>
    <div class="center-all center-margin">
        <button class="btn-success btn" style="width: 45%" onclick="location.href='/Home/ReportBugs'">反馈一个Bug</button>
        <button class="btn-danger btn" style="width: 45%" onclick="location.href='/'">带我返回主页</button>
    </div>
</div>